@model ArticleDetailsViewModel

@{
    ViewData["Title"] = "Article Details";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">This is the page where you can see the full details of an article</p>

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="card mb-4 mt-4 border-info" style="border-width: 3px">
                <div class="card-header bg-info rounded-0" style="height: 50px">
                    <i class="fa fa-star" style="color:azure; background-color: transparent" id="s1"></i>
                    <i class="fa fa-star" style="color:azure; background-color: transparent" id="s2"></i>
                    <i class="fa fa-star" style="color:azure; background-color: transparent" id="s3"></i>
                    <i class="fa fa-star" style="color:azure; background-color: transparent" id="s4"></i>
                    <i class="fa fa-star" style="color:azure; background-color: transparent" id="s5"></i>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">@Model.ArticleDetails.Title</h5>
                    <p class="card-text">@Model.ArticleDetails.Content</p>
                    <p class="card-text">Author: @Model.ArticleDetails.AuthorNickname</p>
                    <p class="card-text">Author: @Model.ArticleDetails.AuthorEmail</p>
                    <p class="card-text">Publised Date: @Model.ArticleDetails.CreationDate</p>
                    @foreach (var tag in Model.ArticleDetails.ArticleTags)
                    {
                        <strong class="text-info">#@tag, </strong>
                    }
                    <p class="lead mt-4">
                        <a class="btn btn-info btn-lg" asp-action="EditArticle" asp-controller="Article" asp role="button">
                            Edit Article
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
